!.vscode/extensions.json 
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.frontmatter
.fseventsd
.vscode
.vscode/*
/.hugo_build.lock
/assets/jsconfig.json
/public/
/public/
/resources/_gen/
hugo.darwin
hugo.exe
hugo.linux
hugo_stats.json
